In [2]:
import pandas as pd
import numpy as np
from ucimlrepo import fetch_ucirepo

In [3]:
iris = fetch_ucirepo(id=53) 
  
X = iris.data.features 
y = iris.data.targets 

print(iris.metadata)  
print(iris.variables)

{'uci_id': 53, 'name': 'Iris', 'repository_url': 'https://archive.ics.uci.edu/dataset/53/iris', 'data_url': 'https://archive.ics.uci.edu/static/public/53/data.csv', 'abstract': 'A small classic dataset from Fisher, 1936. One of the earliest known datasets used for evaluating classification methods.\n', 'area': 'Biology', 'tasks': ['Classification'], 'characteristics': ['Tabular'], 'num_instances': 150, 'num_features': 4, 'feature_types': ['Real'], 'demographics': [], 'target_col': ['class'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 1936, 'last_updated': 'Tue Sep 12 2023', 'dataset_doi': '10.24432/C56C76', 'creators': ['R. A. Fisher'], 'intro_paper': {'title': 'The Iris data set: In search of the source of virginica', 'authors': 'A. Unwin, K. Kleinman', 'published_in': 'Significance, 2021', 'year': 2021, 'url': 'https://www.semanticscholar.org/paper/4599862ea877863669a6a8e63a3c707a787d5d7e', 'doi': '1740-9713.01589'}, 'additional_info': {'summary': 'This is one of the earliest datasets used in the literature on classification methods and widely used in statistics and machine learning.  The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are not linearly separable from each other.\n\nPredicted attribute: class of iris plant.\n\nThis is an exceedingly simple domain.\n\nThis data differs from the data presented in Fishers article (identified by Steve Chadwick,  spchadwick@espeedaz.net ).  The 35th sample should be: 4.9,3.1,1.5,0.2,"Iris-setosa" where the error is in the fourth feature. The 38th sample: 4.9,3.6,1.4,0.1,"Iris-setosa" where the errors are in the second and third features.  ', 'purpose': 'N/A', 'funded_by': None, 'instances_represent': 'Each instance is a plant', 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': None, 'citation': None}}
           name     role         type demographic  \
0  sepal length  Feature   Continuous        None
1   sepal width  Feature   Continuous        None
2  petal length  Feature   Continuous        None
3   petal width  Feature   Continuous        None
4         class   Target  Categorical        None

                                         description units missing_values
0                                               None    cm             no
1                                               None    cm             no
2                                               None    cm             no
3                                               None    cm             no
4  class of iris plant: Iris Setosa, Iris Versico...  None             no

In [4]:
X

     sepal length  sepal width  petal length  petal width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [5]:
y

              class
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [6]:
y['class'].value_counts()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [7]:
classes = ['Iris-setosa','Iris-versicolor','Iris-virginica']

for c in classes:
    y[c] = y['class'].apply(lambda x: 1 if x==c else 0)

y

C:\Users\advai\AppData\Local\Temp\ipykernel_21048\3854382352.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y[c] = y['class'].apply(lambda x: 1 if x==c else 0)
C:\Users\advai\AppData\Local\Temp\ipykernel_21048\3854382352.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y[c] = y['class'].apply(lambda x: 1 if x==c else 0)
C:\Users\advai\AppData\Local\Temp\ipykernel_21048\3854382352.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y[c] = y['class'].apply(lambda x: 1 if x==c else 0)

              class  Iris-setosa  Iris-versicolor  Iris-virginica
0       Iris-setosa            1                0               0
1       Iris-setosa            1                0               0
2       Iris-setosa            1                0               0
3       Iris-setosa            1                0               0
4       Iris-setosa            1                0               0
..              ...          ...              ...             ...
145  Iris-virginica            0                0               1
146  Iris-virginica            0                0               1
147  Iris-virginica            0                0               1
148  Iris-virginica            0                0               1
149  Iris-virginica            0                0               1

[150 rows x 4 columns]

In [11]:
X_arr = np.array(X.iloc[:,:])

In [12]:
y_actual = np.array(y.iloc[:,1:])

In [13]:
def relu(x):
    return np.maximum(x,0)

def sigmoid(x):
    return 1/(1+np.exp(-x))

In [18]:
def mse_loss(y_true, y_pred):
    return np.mean((y_true - y_pred) ** 2)

def mse_loss_derivative(y_true, y_pred):
    return y_pred - y_true

In [26]:
input_hidden1_weights = np.random.uniform(-1,1,(4,8))
hidden1_hidden2_weights = np.random.uniform(-1,1,(8,8))
hidden2_output_weights = np.random.uniform(-1,1,(8,3))
learning_rate = 0.0001
epochs = 90000

X_arr_train = X_arr[:100]
X_arr_test = X_arr[100:]

y_arr_train = y_actual[:100]
y_arr_test = y_actual[100:]

# Training
for epoch in range(epochs+1):
    x1 = np.matmul(X_arr_train, input_hidden1_weights)
    x1 = relu(x1)

    x2 = np.matmul(x1, hidden1_hidden2_weights)
    x2 = relu(x2)

    y_pred = np.matmul(x2, hidden2_output_weights)
    y_pred = sigmoid(y_pred)

    loss = mse_loss(y_arr_train, y_pred)

    error_output = mse_loss_derivative(y_arr_train, y_pred) * y_pred * (1-y_pred)
    error_hidden2 = np.matmul(error_output, hidden2_output_weights.T) * (x2 > 0)
    error_hidden1 = np.matmul(error_hidden2, hidden1_hidden2_weights.T) * (x1 > 0)
    
    hidden2_output_weights -= learning_rate * np.matmul(x2.T, error_output)
    hidden1_hidden2_weights -= learning_rate * np.matmul(x1.T, error_hidden2)
    input_hidden1_weights -= learning_rate * np.matmul(X_arr_train.T, error_hidden1)

    print(f"Epoch : {epoch} -- Loss : {loss}",end='\r')

# Testing
x1 = relu(np.matmul(X_arr_test, input_hidden1_weights))
x2 = relu(np.matmul(x1, hidden1_hidden2_weights))
y_pred = sigmoid(np.matmul(x2, hidden2_output_weights))

In [27]:
y_pred

array([[5.06014296e-08, 9.99998677e-01, 2.58029122e-03],
       [6.59192347e-07, 9.99989847e-01, 5.35089914e-03],
       [8.29648435e-08, 9.99998048e-01, 2.13479052e-03],
       [2.79133480e-07, 9.99994449e-01, 3.58871898e-03],
       [7.89003306e-08, 9.99998309e-01, 3.39905312e-03],
       [1.31689552e-08, 9.99999626e-01, 2.98849696e-03],
       [3.78055898e-06, 9.99956615e-01, 9.37813061e-03],
       [5.01350004e-08, 9.99998715e-01, 3.10560811e-03],
       [1.12590608e-07, 9.99997999e-01, 8.10496291e-03],
       [3.80776764e-08, 9.99998604e-01, 7.52879318e-04],
       [1.13165458e-06, 9.99965132e-01, 9.78484324e-04],
       [4.25285730e-07, 9.99992726e-01, 3.89058897e-03],
       [2.39249219e-07, 9.99994398e-01, 1.85705732e-03],
       [5.51951294e-07, 9.99992593e-01, 8.76214335e-03],
       [3.27932210e-07, 9.99994738e-01, 4.83996788e-03],
       [3.37281019e-07, 9.99991198e-01, 1.45479172e-03],
       [3.85812012e-07, 9.99991964e-01, 2.35034955e-03],
       [1.62697464e-08, 9.99999313e-01, 5.70298508e-04],
       [2.29273205e-09, 9.99999945e-01, 1.14430148e-02],
       [1.27680173e-06, 9.99983826e-01, 1.10684133e-02],
       [1.11427961e-07, 9.99997031e-01, 1.44258581e-03],
       [9.85942705e-07, 9.99985026e-01, 4.48830712e-03],
       [1.00349397e-08, 9.99999733e-01, 4.81070021e-03],
       [1.66354175e-06, 9.99968128e-01, 2.68132783e-03],
       [1.71418092e-07, 9.99995331e-01, 1.35673878e-03],
       [1.35290658e-07, 9.99996327e-01, 1.37669523e-03],
       [2.44124845e-06, 9.99948030e-01, 2.11186505e-03],
       [2.13979224e-06, 9.99949527e-01, 1.70155720e-03],
       [1.34547613e-07, 9.99997487e-01, 4.61426656e-03],
       [3.03056464e-07, 9.99992429e-01, 1.60332709e-03],
       [6.43844686e-08, 9.99998483e-01, 2.97555550e-03],
       [6.79400314e-08, 9.99996277e-01, 3.11022857e-04],
       [1.07525681e-07, 9.99998016e-01, 4.82488748e-03],
       [1.81944128e-06, 9.99964501e-01, 2.57104757e-03],
       [4.75900905e-07, 9.99991609e-01, 7.36004107e-03],
       [3.56641494e-08, 9.99999077e-01, 1.62835101e-03],
       [1.84133779e-07, 9.99995132e-01, 1.44320219e-03],
       [4.13702964e-07, 9.99990904e-01, 2.08831941e-03],
       [2.80696902e-06, 9.99933432e-01, 1.66709567e-03],
       [3.82144758e-07, 9.99989100e-01, 1.19679212e-03],
       [1.02370365e-07, 9.99997647e-01, 1.98619989e-03],
       [6.54449161e-07, 9.99978524e-01, 8.70019070e-04],
       [6.59192347e-07, 9.99989847e-01, 5.35089914e-03],
       [5.98619940e-08, 9.99998553e-01, 1.96965096e-03],
       [8.56190203e-08, 9.99997718e-01, 1.45393928e-03],
       [3.92734610e-07, 9.99989896e-01, 1.49256386e-03],
       [7.93906279e-07, 9.99988252e-01, 4.77953602e-03],
       [6.60729583e-07, 9.99984166e-01, 1.70914726e-03],
       [3.96407496e-07, 9.99988843e-01, 1.23019091e-03],
       [1.04964352e-06, 9.99979622e-01, 2.64582942e-03]])

In [29]:
for arr in y_pred:
    print(np.argmax(arr))

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [31]:
y_arr_test

array([[0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1]], dtype=int64)